<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="baseClasses.FirstTest"/>
      <class name="baseClasses.SecondTest"/>
      <class name="baseClasses.FifthTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="baseClasses.FirstTest"/>
      <class name="baseClasses.SecondTest"/>
      <class name="baseClasses.ThirdTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test3">
    <classes>
      <class name="baseClasses.ThirdTest"/>
      <class name="baseClasses.FBPageTest"/>
      <class name="baseClasses.FifthTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test4">
    <classes>
      <class name="baseClasses.FirstTest"/>
      <class name="baseClasses.SecondTest"/>
      <class name="baseClasses.ThirdTest"/>
      <class name="baseClasses.FifthTest"/>
      <class name="baseClasses.FBPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
